<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>WO Generator</title>
</head>
<body class="bg-dark text-white">
    <div class="page-wrapper with-navbar">
        <nav class="navbar bg-dark">
            <!-- Navbar brand -->
            <a href="#" class="navbar-brand text-white">
                WO Generator
            </a>
            <!-- Navbar nav -->
            <ul class="navbar-nav d-none d-md-flex"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
                <li class="nav-item active">
                <a href="#" class="nav-link text-white">IO</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link text-white">TechOps</a>
                </li>
            </ul>
        </nav>
        <div class="content-wrapper">
            <%- body %>
        </div>
    </div>
</body>
</html>