<% layout('layouts/boilerplate') %>
<div class="container-fluid d-flex justify-content-center">
    <form action="/" method="post" class="main-dropdown">
        <div class="form-group">
            <select class="form-control" id="ioSelect" name="ioSelect">
                <option value="" selected="selected" disabled="disabled">I want to...</option>
                <option value="dpp">Create a DPP</option>
                <option value="upload">Upload Media</option>
                <option value="download">Download Media</option>
                <option value="sancopy">Copy or Move Media on SAN</option>
                <option value="sanhdd">Copy Media from SAN to Hard Drive</option>
                <option value="hddsan">Copy Media from Hard Drive to SAN</option>
            </select>
        </div>
    </form>
</div>

<%- include('partials/generic_js') %>
<script src="/js/home.js"></script>