/* GENERAL SETTINGS */
body {
    font-family: 'montserrat', sans-serif;
}

/* FORM CONTAINER */
.main-dropdown {
    width: 40%;
}

/* FA ICON CSS */
.check {
    display: none;
}

label {
    display: block;
}

.checkmark {
    margin-left: 1%;
    color: rgb(7, 165, 7);
    font-size: 2rem;
}

.plus-btn, .minus-btn {
    display: inline;
    margin: 8px 0 0 5px;
}

.minus-btn {
    color: rgb(207, 12, 12);
}

.minus-btn:hover {
    color: rgb(243, 36, 36);
}

/* WO INSTRUCTIONS */

.copyme, .copyBtn {
    text-align: center;
}

.copied {
    text-align: center;
    text-transform: uppercase;
    color: rgb(7, 165, 7);
}

/* UPLOAD PAGE */

.up-source {
    margin-top: 0.6%;
}

.up-source-label {
    display: inline;
}

.plus-icon, .minus-icon {
    font-size: 2rem;
}

.hide-icon {
    visibility: hidden;
}

/* DOWNLOAD PAGE */

.down-source {
    margin-top: 0.6%;
}

.down-source-label {
    display: inline;
}

/* SAN TO SAN COPY */

.san-source, .san-dest {
    margin-top: 0.6%;
}

.san-source-label, .san-dest-label {
    display: inline;
}