/* FORM CONTAINER */
.main-dropdown {
    width: 40%;
}

/* FA ICON CSS */
.check {
    display: none;
}

label {
    display: block;
}

i {
    margin-left: 1%;
    color: rgb(7, 165, 7);
    font-size: 2rem;
}

/* WO INSTRUCTIONS */

.copyme, .copyBtn {
    text-align: center;
}

.copied {
    text-align: center;
    text-transform: uppercase;
    color: rgb(7, 165, 7);
}