<% layout('layouts/boilerplate.ejs') %>
<div class="container-fluid d-flex justify-content-center">
    <form action="/io/sanhdd" method="POST" class="main-dropdown">
        <!-- Barcode -->
        <div class="form-group">
            <label for="sanhddBarcode">HDD Barcode <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <input type="text" id="sanhddBarcode" name="sanhddBarcode" class="form-control input-validation" placeholder="HDD Barcode" required>
        </div>

        <!-- Drive Format -->
        <div class="form-group">
            <label for="sanhddFormat">Drive Format <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <select class="form-control input-validation" id="sanhddFormat" name="sanhddFormat" required>
                <option value="" selected="selected" disabled="disabled">Drive Format</option>
                <option value="HFS">HFS (Mac)</option>
                <option value="APFS">APFS (Mac)</option>
                <option value="ExFAT">ExFAT</option>
                <option value="NTFS">NTFS (Windows)</option>
            </select>
        </div>

        <!-- Encryption -->
        <div class="form-group">
            <label for="sanhddEncryption">Encryption <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <select class="form-control input-validation" id="sanhddEncryption" name="sanhddEncryption" required>
                <option value="" selected="selected" disabled="disabled">Is Encryption Required?</option>
                <option value="encY">Yes</option>
                <option value="encN">No</option>
            </select>
        </div>

        <div class="form-group d-none sanhddEncP">
            <label for="sanhddEncPass">Encryption Password <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <input type="text" id="sanhddEncPass" name="sanhddEncPass" class="form-control input-validation" placeholder="Encryption Password">
        </div>

        <!-- Drive Labelling -->
        <div class="form-group">
            <label for="sanhddLabel">Drive Labelling <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <select class="form-control input-validation" id="sanhddLabel" name="sanhddLabel" required>
                <option value="" selected="selected" disabled="disabled">Is Labelling Required?</option>
                <option value="labelY">Yes</option>
                <option value="labelN">No</option>
            </select>
        </div>

        <div class="form-group d-none sanhddLabelBox">
            <label for="sanhddLabelInfo">Label Info <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <textarea name="sanhddLabelInfo" id="sanhddLabelInfo" cols="30" rows="10" class="form-control input-validation" 
            placeholder="Label info for hard drive, separate with a new line"></textarea>
        </div>

        <!-- Source Media -->
        <div class="form-group">
            <label for="sanhddSource">Source Media <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <textarea name="sanhddSource" id="sanhddSource" cols="30" rows="10" class="form-control input-validation" 
            placeholder="Source media, separate with a new line" required></textarea>
        </div>

        <!-- Folder Structure on Drive -->
        <div class="form-group">
            <label for="sanhddStructure">Folder Structure on Hard Drive <span class="check"><i class="fa-solid fa-check checkmark"></i></span></label>
            <textarea name="sanhddStructure" id="sanhddStructure" cols="30" rows="10" class="form-control" 
            placeholder="Add any info if a specific folder structure is required on the hard drive, separate with a new line"></textarea>
        </div>

        <!-- Submit Button -->
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-primary" type="submit" id="submitBtn">Submit</button>
        </div>

    </form>
</div>

<%- include('../partials/generic_js') %>
<script src="/js/sanhdd.js"></script>